@mixin font-family {
    font-family:  'Playfair Display', serif;
    font-size: 50px;
    font-weight: 600;
}
@mixin background{
    background-color: #f5f7f6;    
}
@mixin button{
    width: 230px;
    height: 50px;
    background-color: rgb(27, 26, 26);
    color: #fff;
    border-radius: 40px;
    font-family: sans-serif;
    font-size: 15px;
    outline: none;
    border: none;
    transition: .2s ease all;

    &:hover{
        opacity: .7;
    }

}
@mixin paragraf{
    font-family: sans-serif;
    line-height: 1.7;
}

.section_4{
    @include background();
    height: 30rem;

    @media screen and (max-width:768px){
        margin-top: 3rem;
        height: 40rem;
    }
    h1{
        @include font-family();
        margin-bottom: 2rem;

        @media screen and (max-width:768px){
            font-size: 40px;
            margin-top: 3rem;
        }
    }
    h2{
       margin-bottom: 1rem;
       font-size: 55px;
       font-family:sans-serif;

       @media screen and (max-width:768px){
           font-size: 40px;
       }


    }
    .now{
        border-radius: 10px;
        &:hover{
            cursor: pointer;
        }
    }
}
.section-5{
    height: 40rem;

    @media screen and (max-width:768px){
        text-align: center;
    }
    img{
        &:hover{
            cursor: pointer;
        }

        
    }

  .header-2{
    margin-top: 8rem;
    @media screen and (max-width:768px){
        h1{
            font-size: 40px;
        }
        // text-align: center;
    }
   }
  h1{
      @include font-family();

  }
  p{
      @include paragraf();
      margin-top: 2rem;
  }
  span{
      margin: .5rem;
      color: rgb(75, 70, 70);
  }
  .list{
      margin-top: 1rem;
      
      @media screen and (max-width:768px){
        width: 100%;
        text-align: center;

    }
     
      li{
          list-style: none;
          margin-left: 2rem;
          margin-top: .7rem;

          @media screen and (max-width:768px){
              float: left;
          }
      }
  }
  a{
      font-size: 20px;
      padding-top: 5rem;
      text-decoration: none;
      color: #000;
      font-weight: 600;
      transition: .2s ease all;
    
      &:hover{
          color: red;
      }

      @media screen and (max-width:768px){
          text-align: center;
          display: block;
          margin-top: 2rem;
      }
  }
  .logo_block{
      position: relative;

    }
    .logo_image{
        margin-top: 7rem;
        margin-left: 7rem;
        
        @media screen and (max-width:768px){
            width: 100%;
            height: 100%;
            margin-left: 0;
            margin-top: 3rem;
        }
        @media screen and (max-width:992px){
            width: 100%;
            height: 100%;
            margin-left: 0;
            margin-top: 3rem;
        }

          &:hover{
              cursor: pointer;
          }
      }
 .logo_circle{
       position: absolute;
       margin-top: -15rem;
       margin-left: 23rem;
 }
 .logo_play{
    position: absolute;
    margin-left: 26rem;
    margin-top: -12.5rem;
    
 }
}

/* Start Section 6 styling */
.section_6{
    height: 25rem;
    @media screen and (max-width:992px){
        text-align: center;
        margin-top: 14rem;
    }

    h1{
        @include font-family();
        margin-bottom: 5rem;

        @media screen and (max-width:992px){
            letter-spacing: 3px;
        }

        @media screen and (max-width:992px){
            font-size: 40px;
            margin-bottom: 0;
        }

    }

    img{

        &:hover{
            cursor: pointer;
        }

        @media screen and (max-width:992px){
            margin: 2.5rem;
        }
    }
}

/* End Section 6 styling */

/* Start Section 7 styling */
.section-7{
    @include background();
   

    @media screen and (max-width:992px){
        margin-top: 10rem;
        
    }

    .word_section-7{
       padding: 6rem
    }
    h2{
        @include font-family();
        font-size: 40px;
        letter-spacing: 2px;
    }
    p{
        font-size: 20px;
        font-family: sans-serif;
        margin: 1.5rem;
    }
    button{
        @include button();

        @media screen and (max-width:992px){
            width: 180px;
        }
    }
}

/* End Section 7 styling */

/* Start Section footer styling*/

.section-footer{
    padding: 4rem;
    background-color: rgb(27, 26, 26);
    color: #fff;
    p{
        opacity: .7;
    }
   
    li{
        margin-top: 8px;

        &:hover{
            cursor: pointer;
        }
    }
    ol{
        margin-top: 2rem;
    }
    .btn-footer{
        margin-top: 3rem;
        button{
            @include button();
            background-color: rgb(82, 82, 82);
            
            @media screen and (max-width:992px){
                width: 180px;
            }            
        }
    }
    .contact{
        margin-top: 8rem;
        width: 10rem;

        @media screen and (max-width:992px){
            display: flex;
           position: absolute;
            margin-top: 23rem;
            justify-content: center;
            margin-left: 9rem;
        }
        img{
            margin-right: 2rem;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .top{
        position: absolute;
        margin-left: 8.8rem;
        margin-top: .15rem;
    }
    .sign{
        width: 45rem;
        margin-top: -20rem;
        margin-left: 32rem;

        @media screen and (max-width:992px){
            width: 100%;
            margin-top: 0;
            margin-left: 0;
            text-align: center;
        }
        span{
            font-size: 20px;
            margin: 1rem 0 1rem 0;

            @media screen and (max-width:992px){
                font-size: 14px;
            }
        }
       
        input{
            margin-top: 2rem;
            width: 400px;
            height: 50px;
            padding-left: 25px;
            border-radius: 5px;
            outline: none;

            @media screen and (max-width:992px){
                width: 300px;
            }
        }
        button{
            @include button();
            background-color: rgb(82, 82, 82);
            width: 150px;
            margin-left: 3rem;

            @media screen and (max-width:992px){
                margin-top: 2rem;
                width: 180px;
                text-align: center;
                margin-left: -.5rem;
            }           
        }
    }
    .footer_word{
        width: 45rem;
        margin-left: 29rem;
        margin-top: -1rem;

        @media screen and (max-width:992px){
            display: none;
        }
        p{
        margin-left: 3rem;

        &:hover{
            cursor: pointer;
        }
        }
    }
    .last{
        width: 24rem;
        margin-top: -2.5rem;
        margin-left: 55rem;

        &:hover{
            cursor: pointer;
        }
    }

    .line-1{

        @media screen and (max-width:992px){
            text-align: center;
        }
    }

    .line-2{
        @media screen and (max-width:992px){
            display: none;
        }
    }

    .logocha{

        @media screen and (max-width:992px){
            text-align: center;
            margin: 2rem 0;
        }
    }
    
}



/* Start Section footer styling*/